@model IEnumerable<Roles_Estructuras_Control.Models.DetalleFacturaModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Factura</h1>

<div class="row">
    <div class="col-md-6">
        <label>Clientes</label>
        <select class="form-select" id="listaClientes" onchange="detallefactura.unCliente(this.value)"></select>
        <button onclick="detallefactura.nuevoCliente()" class="btn btn-outline-primary mt-2">
            <i class="icon-user-plus"></i> Nuevo Cliente
        </button>
        <input hidden value="0" id="nuevoCliente" />
    </div>

    <div class="col-md-6">
        <table class="table table-bordered">
            <tr><td>Nombre</td><td>Dirección</td></tr>
            <tr>
                <td><input class="form-control" id="NombreCliente" disabled /></td>
                <td><input class="form-control" id="DireccionCliente" disabled /></td>
            </tr>
            <tr><td>Teléfono</td><td>Correo Electrónico</td></tr>
            <tr>
                <td><input class="form-control" id="TelefonoCliente" disabled /></td>
                <td><input class="form-control" id="EmailCliente" disabled /></td>
            </tr>
        </table>

        <button onclick="detallefactura.limpiarCampos()" id="cancelar" class="btn btn-outline-danger">Cancelar</button>
        <button onclick="detallefactura.limpiarCampos(); detallefactura.listaProductos();" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#productos">Agregar Producto</button>
    </div>
</div>

<!-- Productos Agregados -->
<table class="table table-bordered mt-3" id="tablaProductos">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Producto</th>
            <th>Cantidad</th>
            <th>P/U</th>
            <th>Total</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div>
    <strong>Total Factura: </strong><span id="totalFactura">0.00</span>
</div>

<p><a asp-action="Create">Crear Nuevo</a></p>

<!-- Modal de Productos -->
<div class="modal fade" id="productos" tabindex="-1" aria-labelledby="Productos" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista de Productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <label>Buscar Producto</label>
                <input type="text" id="buscador" class="form-control mb-2" placeholder="Ingrese nombre del producto">
                <button onclick="detallefactura.buscarProducto()" class="btn btn-outline-primary">Buscar</button>

                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre Producto</th>
                            <th>Cantidad</th>
                            <th>Valor</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpoproducto"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/detallefactura.js"></script>
}
